<!-- BEGIN HEADER TOP -->

@{ 
    LetsTalk.Models.MvcUser user = (LetsTalk.Models.MvcUser)HttpContext.Current.User;

}

<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html"><img src="~/assets/logo/Logo.png" alt="logo" class="logo-default" style="width: 150px; margin: 18px 0 0 0"></a>
        </div>

        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="droddown dropdown-separator">
                    <span class="separator"></span>
                </li>
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        @*<img alt="" class="img-circle" src="~/assets/admin/layout3/img/avatar9.jpg">*@
                        @*<img alt="" class="img-circle" src="~/assets/admin/layout3/img/Marcelindo.png">*@
                        <img alt="" class="img-circle" width="70" src="@user.FullPathFotoPerfil">
                        <span class="username username-hide-mobile"> @user.Nome </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action("Index", "Perfil")">
                                <i class="icon-user"></i>Meu Perfil
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Configuracoes")">
                                <i class="fa fa-gear"></i>Configurações
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Logout", "Login")">
                                <i class="fa fa-sign-out"></i>Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>

        <!-- END TOP NAVIGATION MENU -->


    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu pull-right">
            <ul class="nav navbar-nav">


                <li>
                    @Html.ActionLink("Encontrar pessoas", "Index", "Conhecer")
                </li>
                <li>
                    @Html.ActionLink("Mensagens", "Index", "Chat")
                </li>

            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->