
@{
    ViewBag.Title = "Index";
}

@using Entity.ViewModels
@model UsersConhecerPessoas

@section PageLevelPluginStyles{
    <link href="~/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/admin/pages/css/news.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/blog.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
}

<div class="portlet solid purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-sliders fa-4x"></i>Filtros
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand" data-original-title="" title="Abrir/fechar filtros">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: none;">
        @using (Html.BeginForm("Index", "Conhecer", FormMethod.Post))
        {
            <div class="form-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Mínimo de Tags em comum</label>
                        <select class="form-control" name="tagsComum">
                            @for (int i = 1; i <= 5; i++)
                            {
                                string selected = Model.NumeroTagsComum == i ? "selected=\"selected\"" : null;
                                <option @selected value="@i">@i</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label> Idade mínima</label>
                        <select id="seletor-idade-minima" class="form-control" name="idadeMin">
                            @for (int i = 18; i <= 79; i++)
                            {
                                string selected = Model.IdadeMinima == i ? "selected=\"selected\"" : null;
                                <option @selected value="@i">@i</option>
                            }
                        </select>
                        <label>Idade máxima</label>
                        <select id="seletor-idade-maxima" class="form-control" name="idadeMax"></select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Resultados por página</label>
                        <select class="form-control" name="qntPorPagina">
                            @for (int i = 15; i <= 35; i += 10)
                            {
                                string selected = Model.QtdPessoasPagina == i ? "selected=\"selected\"" : null;
                                <option @selected value="@i">@i</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Colunas</label>
                        <select class="form-control" name="colunas">
                            @for (int i = 4; i >= 2; i--)
                            {
                                string selected = Model.NumeroColunas == i ? "selected=\"selected\"" : null;
                                <option @selected value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="col-md-offset-9">
                    <input type="submit" class="btn btn-lg default-roxocustomizado purple-customizado" value="Aplicar filtros" />
                </div>
            </div>
        }

    </div>
</div>
<!--pessoas encontradas -->
@Html.Partial("CardsUsuarios", Model)

@section  PageLevelPlugins
{
    <script type="text/javascript" src="~/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>

    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
}

@section PageLevelScripts {
    <script src="~/assets/admin/pages/scripts/portfolio.js"></script>
    <script src="~/assets/global/plugins/gmaps/gmaps.js"></script>
    <script src="~/assets/global/plugins/gmaps/gmaps.min.js"></script>
    <script src="~/Scripts/Specifics/coordenadas.js"></script>
    <script src="~/Scripts/Specifics/modalDosCards.js"></script>
}

@section JqueryFinal{
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features  // set current page
            Portfolio.init();
            getLocation();
            carregarIdadesMaximas();
        });

        $('#seletor-idade-minima').change(carregarIdadesMaximas);

        function carregarIdadesMaximas() {
            var maximaAnterior = @Model.IdadeMaxima;
            $('#seletor-idade-maxima').empty();
            var idade = $('#seletor-idade-minima').find(':selected').val();
            var idademin = ++idade;
            for (var i = idademin; i <= 80; i++) {
                var opt = $('<option>').val(i).text(i);
                if (i == maximaAnterior) {
                    opt.attr('selected','selected');
                }
                $('#seletor-idade-maxima').append(opt);
            }
        }
    </script>
}