
@{
    ViewBag.Title = "Index";

    LetsTalk.Models.MvcUser user = (LetsTalk.Models.MvcUser)HttpContext.Current.User;

}

@model Entity.Usuario

@section PageLevelPluginStyles{
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/typeahead/typeahead.css">

    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/jquery-multi-select/css/multi-select.css" />

    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css" />
    <link href="~/Content/Perfil.css" rel="stylesheet" />
}


<div class="container">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar" style="width: 250px;">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="@Model.PathFotoPerfil" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Model.Nome
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="">
                                    <i class="icon-home"></i>
                                    Perfil
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-purple-studio bold uppercase">Seu Perfil</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab">Informações Pessoais</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_2" data-toggle="tab">Álbum de Fotos</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_4" data-toggle="tab">Foto de Perfil</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_3" data-toggle="tab">Alterar Senha</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Frase de Apresentação</label>
                                                <input id="frase-apresentacao" type="text" placeholder="Informe uma breve descrição" class="form-control"
                                                       name="userVM.FraseApresentacao" value="@Model.FraseApresentacao">
                                            </div>

                                            <div class="col-md-6" style="margin-bottom: 20px;">
                                                <label class="control-label">Tags</label>

                                                @*@{ string[] tags = }*@
                                                <input id="tags_2" type="text" class="form-control tags medium" style="display: none;" value="@Model.Tags">
                                            </div>
                                            <div class="col-md-11">
                                                <label class="control-label">Descrição</label>
                                                <textarea id="descricao" class="form-control" maxlength="200" rows="3" placeholder="Digite sua descrição, ela deve conter no máximo 200 caracteres">@Model.Descricao</textarea>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-top-15"></div>
                                        <button type="button" id="salvar-informacoes" class="btn purple-customizado">Salvar</button>

                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                    <!-- CHANGE album TAB -->
                                    <div class="tab-pane" id="tab_1_2">
                                        <form action="@Url.Action("SalvarFotoDiretorio", "Perfil")" enctype="multipart/form-data" role="form" method="post">

                                            <div class="row">
                                                <div class="form-group col-md-6" id="SelecaoDeImagem">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <label>Fotos para seu álbum</label>
                                                        <br />
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;" id="fotoAlbum">
                                                        </div>
                                                        <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new">
                                                                    Selecionar
                                                                </span>
                                                                <span class="fileinput-exists">
                                                                    Alterar
                                                                </span>
                                                                <input type="hidden"><input type="file" name="foto" />
                                                            </span>
                                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                                Remover
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 pull-right">
                                                        <ul class="list-inline blog-images" id="lista-fotos">
                                                            <li>
                                                                <a class="fancybox-button" data-rel="fancybox-button" href="assets/img/blog/1.jpg">
                                                                    <img src="~/Content/De5RwT1XkAAfgS8.jpg">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn purple-customizado" id="botao-salvar-fotos">Salvar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- CHANGE AVATAR TAB -->

                                    <div class="tab-pane" id="tab_1_4">
                                        <form action="@Url.Action("SalvarFoto", "Perfil")" enctype="multipart/form-data" role="form" method="post">
                                            <div class="form-group">
                                                <div class="col-md-9" id="SelecaoDeImagem">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <label>Foto de Perfil</label>
                                                        <br />
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;">
                                                        </div>
                                                        <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new">
                                                                    Selecionar
                                                                </span>
                                                                <span class="fileinput-exists">
                                                                    Alterar
                                                                </span>
                                                                <input type="hidden"><input type="file" name="foto">
                                                            </span>
                                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                                Remover
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn purple-customizado">Salvar</button>
                                                @*<a href="javascript:;" class="btn purple-customizado">
                                                        Salvar
                                                    </a>*@
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END CHANGE AVATAR TAB -->
                                    <!-- CHANGE PASSWORD TAB -->
                                    <!-- ÑÃO ESTA FUNCIONANDO-->

                                    <div class="tab-pane" id="tab_1_3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Senha</label>
                                                <input id="senha-atual" type="password" class="form-control" placeholder="Informe sua senha atual.">
                                            </div>
                                            <div class="form-group">
                                                <label>Nova senha</label>
                                                <input id="nova-senha" type="password" class="form-control" placeholder="Nova senha..">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirmar nova senha</label>
                                                <input id="nova-senha-repetido" type="password" class="form-control" placeholder="Confirme sua nova senha">
                                            </div>
                                        </div>

                                        <div class="margin-top-10">
                                            <button id="atualizar-senha" type="button" class="btn purple-customizado">Salvar</button>
                                        </div>
                                    </div>
                                    <!-- END CHANGE PASSWORD TAB -->
                                    <!-- PRIVACY SETTINGS TAB -->
                                    <!-- END PRIVACY SETTINGS TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>


@section  PageLevelPlugins
{
    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/assets/global/plugins/fuelux/js/spinner.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/ckeditor/ckeditor.js"></script>

    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>

    <script src="~/assets/admin/pages/scripts/ui-blockui.js"></script>
    <script src="~/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
    <script src="~/assets/admin/pages/scripts/ui-bootstrap-growl.js"></script>
}

@section PageLevelScripts {
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/profile.js" type="text/javascript"></script>

    <script src="~/assets/admin/pages/scripts/components-form-tools.js"></script>
}

@section JqueryFinal{
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features\
            Profile.init(); // init page demo
            ComponentsFormTools.init();
            //ComponentsDropdowns.init();
            UIBlockUI.init();
        });
    </script>
    <script src="~/Scripts/Specifics/Perfil.js"></script>
}